USE [master]
GO
/****** Object:  Database [best_restaurant]    Script Date: 7/13/2016 4:15:21 PM ******/
CREATE DATABASE [best_restaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'best_restaurant', FILENAME = N'C:\Users\epicodus\best_restaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'best_restaurant_log', FILENAME = N'C:\Users\epicodus\best_restaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [best_restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [best_restaurant]
GO
USE [best_restaurant]
GO
/****** Object:  Table [dbo].[cuisine]    Script Date: 7/13/2016 4:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cuisine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 7/13/2016 4:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[restaurants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[cuisine_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 7/13/2016 4:15:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [varchar](255) NULL,
	[restaurant_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cuisine] ON 

INSERT [dbo].[cuisine] ([id], [name]) VALUES (5, N'Fast Food')
INSERT [dbo].[cuisine] ([id], [name]) VALUES (7, N'Diner')
SET IDENTITY_INSERT [dbo].[cuisine] OFF
SET IDENTITY_INSERT [dbo].[restaurants] ON 

INSERT [dbo].[restaurants] ([id], [name], [cuisine_id]) VALUES (7, N'Denny', 7)
INSERT [dbo].[restaurants] ([id], [name], [cuisine_id]) VALUES (4, N'Panda Express', 5)
SET IDENTITY_INSERT [dbo].[restaurants] OFF
USE [master]
GO
