<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Cuisine</title>
  </head>
  <body>
    <form class="form-group" action="/cuisine/success" method="post">
      <label for="cuisine-name">Enter Cuisine Name:</label>
      <input type="text" name="cuisine-name" required>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
