<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model["cuisine"].GetName()</title>
  </head>
  <body>
    <h2>Here are the restaurants that are @Model["cuisine"].GetName()</h2>
    <ul>
    @foreach (var restaurant in Model["restaurants"])
    {
      <li><a href="/restaurant/@restaurant.GetId()">@restaurant.GetName()</a></li>
    }
  </ul>
  <form class="form-group" action='/cuisine/deleted/@Model["cuisine"].GetId()' method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Cuisine</button>
  </form>
  <a href="/restaurant/new">Add a restaurant</a>
  <a href="/">Return Home</a>
  </body>
</html>
