<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/css/styles.css">
    @if(Model.GetDisplayPreference() == 1)
    {
      <link rel="stylesheet" href="/Content/css/styles1.css">
    }
    else if (Model.GetDisplayPreference() == 2)
    {
      <link rel="stylesheet" href="/Content/css/styles2.css">
    }
    else
    {
      <link rel="stylesheet" href="/Content/css/styles3.css">
    }
    <meta charset="utf-8">
    <title>Best Restaurants In Town</title>
  </head>
  <body>
    <div class="container centered-container">
      <h1>Welcome to the Best Restaurants Page</h1>
      <a href="/cuisines">View all Cuisines</a>
      <a href="/restaurants">View All Restaurants</a>
      <p><a href="/user/new">Add a new user.</a></p>
      <a href="/login">Log In</a>
      <br>
      @if(Model.GetName()=="Admin")
      {
        <form class="form-group" action="/" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger" type="submit">Delete Everything</button>
        </form>
      }
    </div>
  </body>
</html>
