<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best Restaurants In Town</title>
  </head>
  <body>
    <h1>Welcome to the Best Restaurants Page</h1>
    <a href="/cuisines">View all Cuisines</a>
    <a href="/restaurants">View All Restaurants</a>
  </body>
</html>
