<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best Restaurants In Town</title>
  </head>
  <body>
    <h1>Welcome to the Best Restaurants Page</h1>
    <a href="/cuisines">View all Cuisines</a>
    <a href="/restaurants">View All Restaurants</a>
    <p><a href="/user/new">Add a new user.</a></p>
    <br>
    <form class="form-group" action="/" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete Everything</button>
    </form>
  </body>
</html>
