<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <h2>Here is the restaurant @Model.GetName()</h2>

  <a href="/">Return Home</a>
  </body>
</html>
