<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/css/styles.css">
    <meta charset="utf-8">
    <title>Restaurants</title>
  </head>
  <body>
    <div class="container centered-container">
      @if(@Model.Count==0)
      {
        <p>
          No restaurants have been added yet.
        </p>
      }
      else
      {
        <ul>
          @foreach(var restaurant in Model)
          {
            if(restaurant.GetAverageRating() >= 0)
            {
              <li><a href="/restaurant/@restaurant.GetId()">@restaurant.GetName()</a>  @restaurant.GetAverageRating() Stars</li>
            }
            else
            {
              <li><a href="/restaurant/@restaurant.GetId()">@restaurant.GetName()</a> No Ratings Yet</li>
            }

          }
        </ul>
      }
      <a href="/restaurant/new">Add a new restaurant</a>
      <a href="/">Return Home</a>
    </div>
  </body>
</html>
