<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/css/styles.css">
    @if(Model.GetDisplayPreference() == 1)
    {
      <link rel="stylesheet" href="/Content/css/styles1.css">
    }
    else if (Model.GetDisplayPreference() == 2)
    {
      <link rel="stylesheet" href="/Content/css/styles2.css">
    }
    else
    {
      <link rel="stylesheet" href="/Content/css/styles3.css">
    }
    <meta charset="utf-8">
    <title>Add a New User</title>
  </head>
  <body>
    <div class="container centered-container">
      <form class="form-group" action="/user/success" method="post">
        <label for="user-name">Enter a User Name:</label>
        <input type="text" name="user-name" required>
        <label for="display-preference">Enter a display preference:</label>
        <input type="number" min=1 max=3 name="display-preference" value="1" required>
        <button class="btn btn-success" type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
